pyqt5
opencv-python
absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.10
django-cors-headers==2.4.0
djangorestframework==3.9.1
gast==0.2.2
grpcio==1.27.2
h5py==2.10.0
idna==2.9
itypes==1.1.0
Jinja2==2.11.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib
Markdown==3.2.1
MarkupSafe==1.1.1
numpy==1.18.2
pandas
Pillow==5.4.0
pipenv==2018.11.26
protobuf==3.11.3
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
tensorboard==1.15.0
tensorflow==1.15
termcolor==1.1.0
uritemplate==3.0.1
urllib3==1.25.8
virtualenv-clone==0.5.3
Werkzeug==1.0.0